silk-core/src/main/resources/de/fuberlin/wiwiss/silk/PropertyClustersStructure.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PropertyClusters">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cluster" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="index"/>
              <xs:element type="xs:anyURI" name="label"/>
              <xs:element name="table_column" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:anyURI" name="table_id"/>
                    <xs:element name="members">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="member" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:anyURI" name="entity_uri"/>
                                <xs:element type="xs:anyURI" name="property_name"/>
                                <xs:element name="property_values">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Val" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="e"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>